body{
font-family: 'Spline Sans', sans-serif;
}
section{
    display: flex;
}
.left-section{
    width: 40%
}
h1{
    font-size: 40px;
    color: rgb(97, 248, 248);
}
.right-section img{
    width: 100%;
}