body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}

.text-border-left{
    border-left: 5px solid rgba(103, 252, 190, 0.904);
    padding: 0 2%;
}
h1{
    font-size: 50px;
    padding-bottom: 20px;
}
span{
    color: rgb(247, 96, 58)
}
img{
    width: 100%;
    margin-top: 15px;
}
.btn{
    margin-top: 10px;
    padding: 15px 35px;
    border: none;
    background-color: rgba(103, 252, 190, 0.904);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid rgba(103, 252, 190, 0.904);
    background-color: white;
    color: black;
  }
.first-sec-p2{
    margin-top: 30px;
}
.second-sec-header{
    font-size: 45px;
    text-align: center;
    padding-top: 20px;
}
.mission-sec{
    margin-left: 100px;
}
.box-section{
    width: 25%;
    height: 300px;
    margin-left: 2%;
    padding: 2%;
    border-radius: 15px; 
}
.box-section p{
    font-size: 15px;
}
.box-section img{
    width: 100px;
}
#b1-bg-color{
    background-color: rgba(183, 255, 225, 0.904);
}
#b2-bg-color{
    background-color: rgba(255, 248, 183, 0.904);
}
#b3-bg-color{
    background-color: rgba(255, 183, 183, 0.904);
}

.third-sec{
    width: 800px;
    padding-top: 60px;
    margin-left: 9%;
    /* background-image: url(images/shapes/shape-1.png); */
}
.third-sec img{
    width: 100%;
}
.third-sec-1{
    margin-left: 5%;
    margin-right: 7%;
    margin-top: 75px;
    padding-top: 35px;
}
.third-sec-1 h1{
    font-size: 40px;
    font-weight: 700;
}
.third-sec-1 p{
    margin-top: -30px;
}
#third-sec-id{
    margin-left: 9%;
}
#third-sec-id-1{
    margin-right: 9%;
    
}
#fourth-sec-id{
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
}
.img-section{
    width: 25%;
    height: 300px;
    margin-left: 4.2%;
}
.img-section img{
    border-radius: 15px;
    width: 100%;
}
#img-id{
    margin-bottom: 5%;
}
.desc{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
#last-button{
    margin-left: 45%;
    margin-bottom: -5%;
    padding-top: 50px;
    
}
#last-btn-1{
    text-decoration: none;
    color: black;
}
  
footer{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    padding: 15px 0px 10px 0px;
    color: white;
    background-color: rgb(11, 6, 39);
}
footer .copy-symb{
    font-size: 15px;
    font-weight: 100;
    color: dimgray;
}